<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nbsidb.nearbyshops.org">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity
            android:name=".ItemsByCategorySimple.ItemCategoriesSimple"
            android:label="Items by Category"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>


        <activity
            android:name=".SelectParent.ItemCategoriesParent"
            android:label="Change Parent"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>

        <activity
            android:name=".ItemsByCategorySimple.EditItem.EditItem"
            android:label="Edit Item"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".ItemsByCategorySimple.EditItemCategory.EditItemCategory"
            android:label="Edit Item Category"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>

        <activity
            android:name=".StaffAccounts.EditStaff.EditStaff"
            android:label="Edit Staff"
            android:parentActivityName=".StaffAccounts.StaffAccounts"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StaffAccounts.StaffAccounts" />
        </activity>


        <activity
            android:name=".StaffAccounts.StaffAccounts"
            android:label="Edit Staff"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>


        <activity
            android:name=".DetachedTabs.DetachedTabs"
            android:label="Detached Items"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>




        <activity
            android:name=".StaffHome.EditStaffSelf.EditStaffSelf"
            android:label="Edit Staff"
            android:parentActivityName=".StaffHome.StaffHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StaffHome.StaffHome" />
        </activity>

        <activity
            android:name=".StaffHome.StaffDashboard"
            android:label="Edit Staff"
            android:parentActivityName=".StaffHome.StaffDashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StaffHome.StaffDashboard" />
        </activity>


        <activity
            android:name=".StaffHome.StaffHome"
            android:label="Edit Staff"
            android:parentActivityName=".StaffHome.StaffHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StaffHome.StaffHome" />
        </activity>


    </application>

</manifest>